<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1> <%= user ? `Welcome To Mealtopia ${user.profile.name}. ` : "Sign in to get started." %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  
</main>

<%- include('./partials/footer') %>