<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/manageIngredients.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <% if (user) { %>
    <div>
    <form action="/ingredients/?_method=DELETE" method="POST">
      <select name="ingredientId">
      <% ingredients.forEach(ingredient => { %>
       <option value="<%= ingredient._id %>"><%= ingredient.name %> </option>
      <% }) %>
    </select><br>
    
      Delete currently selected ingredient? <button class="btn btn-danger">X</button>
    
  </form>
    <p>
      <form action="/ingredients" method="POST">
        <label for="name-input">Ingredient Name:</label>
        <input type="text" name="name" id="name-input">
        <button type="submit" class="btn btn-info">Add</button>
      </form>
    </p>
  </div>
  <% } %>
</main>

<%- include('../partials/footer') %>