<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div>
    <% if (user) { %>
     <form action="/meals/new" method="GET">
      <button type="submit" class="btn btn-info">Create A Recipe!</button>
      </div>
    </form>
    <thead>
      <tr>
        <% meals.forEach(meal => { %>
          <td><%= meal.name %></td>
          <td><a href="/meals/<%= meal._id%>">DETAILS</a></td>
          <td>
            <form action="/meals/<%= meal._id%>?_method=DELETE">
              <button>X</button>
            </form>
          </td>
          <% }) %>
        </tr>
      </thead>
      <% } %>
</main>


<%- include('../partials/footer') %>